@font-face {
  font-family: grapesoda;
  src: url("grapesoda.ttf") format("truetype");
}

/*for when i use mandarin*/
@font-face {
  font-family: zpix;
  src: url("zpix.ttf") format("truetype");
}

@font-face {
  font-family: tamzen;
  src: url("tamzen.ttf") format("truetype");
}

body {
  background: url("galaxy.png");
  background-size: 50vw;
  font-family: grapesoda, zpix;
  font-size: 2.5em;
  text-align: center;
  color: white;
  /*nice and crunchy*/
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-font-smoothing: greyscale;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

ul > hr, details > hr {
  margin: 0;
}
:not(ul, details) > hr {
  height: 3px;
  border-width: 0;
  background-color: white;
}

/*we don't care if they've visited the link*/
a:link, a:visited {
  color: lightgreen;
}
a:hover {
  color: yellow;
}
a:active {
  color: hotpink;
}

.scene {
  width: 100%;
  height: 70vw;
  transform: scale(0.75) translateY(-10vw);
}

.object, .static {
  position: absolute;
}

.static {
  pointer-events: none;
}

/*thank you so much ribose for this setup*/
.rotate:hover img, .rotate:focus img {
  transform: rotate(5deg);
}
.rotate:hover .text, a:focus .text {
  opacity: 1;
}

.appear img {
	 opacity: 0;
}
.appear:hover img, .appear:hover .text, a:focus img {
	 opacity: 1;
}

.text {
  font-size: 5vw;
  opacity: 0;
  position: absolute;
  color: white;
  pointer-events: none;
  z-index: 99;
}
