@font-face {
  font-family: wearepotatoes;
  src: url("wearepotatoes.ttf") format("truetype");
}

body {
  background-image: url("galaxy.png");
  background-size: 50vw;
  font-family: wearepotatoes;
  font-size: 5vw;
  color: white;
  text-align: center;
  /*nice and crunchy*/
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-font-smoothing: greyscale;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

img {
  position: absolute;
}

/*
a {
  color: yellow;
}
a:hover, a:focus {
	color: teal;
}
*/

.scene {
  width: 100%;
  height: 70vw;
  border: white 4px groove;
  transform: scale(0.70);
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1280px) {
  .scene {
    transform: scale(0.95);
  }
}

.static {
  pointer-events: none;
}

/*thank you so much ribose for this setup*/
.rotate:hover img, .rotate:focus img {
  transform: rotate(5deg);
}
.rotate:hover .text, a:focus .text {
  opacity: 1;
}

.appear img {
	 opacity: 0;
}
.appear:hover img, .appear:hover .text, a:focus img {
	 opacity: 1;
}

.text {
  opacity: 0;
  position: absolute;
  top: 6vw;
  transform: translate(-50%, -50%);
  color: white;
  pointer-events: none;
  z-index: 99;
}