@font-face {
  font-family: onop;
  src: url("blue-fire/onop.ttf") format("truetype");
}

.text {
  font-family: onop;
  font-size: 3vw;
  color: black;
  opacity: 1;
}
.rotate:hover .text {
  font-family: grapesoda;
}
