body {
  background: url("shrine.png");
  background-size: 100%;
  color: black;
}

.page {
  border: 0.25vw solid #f0bd77;
  width: 49%;
  height: 60vw;
  background-image: url(crumpled.jpg);
  background-size: 20vw;
  text-align: left;
}
.innerpage {
  margin: 0vw 3vw;
  height: 60vw;
  overflow-y: auto;
}
.left, .right {
  position: absolute;
  top: 30vw;
  width: 2vw;
  height: 3vw;
  background: lightblue;
}
.left {
  left: -2vw;
}
.right {
  right: -2vw;
  text-align: right
}