body {
  background: #7bb24e;
}

ul, p {
  text-align: left;
}

hr {
  height: 3px;
  border-width: 0;
  background-color: white;
}

.sidebar {
  height: 100%;
  width: 20vw;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  border-left: 3px solid white;
}
main {
  margin-right: 20vw;
}
