body {
  background: url("thoughts.png");
  background-size: 100%;
}
ul, p {
  text-align: left;
}

.sidebar {
  height: calc(100% - 15vw);
  width: 20vw;
  position: fixed;
  top: 10vw;
  left: 0;
  overflow-x: hidden;
  border-left: 3px solid white;
}
main {
  margin-left: 25vw;
}
